%h1 Ingredients

%h2= @ingredient.name

.row
  .spans2.align-right
    %strong Type:
  .spans14= @ingredient.ingredient_type

.row
  .spans2.align-right
    %strong Notes:
  .spans14= @ingredient.notes

.row
  .spans14-offset2= link_to 'Edit', edit_ingredient_path(@ingredient)