@import global/mixins
@import global

// Base
body
  background-color: #EEE
  color: #333
  font-size: 90%
  font-weight: $regular
  padding: 0
.container
  font-size: 1em
  line-height: $line-height
  margin: 0 auto

// Links
a
  @include transition(all 0.1s linear)
  &:link, &:visited
    color: #69C
    text-decoration: none
  &:hover
    text-decoration: underline
  &:active

// Layout
footer
  color: #CCC
  font-weight: $light
  padding: 20px 40px
  text-align: center
#content
  background: #FEFEFE
  padding: 20px 40px
.section
  margin: $global-margin * 2 0
.actions
  margin: $global-margin 0
.float-right
  float: right
.float-left
  float: left

// Lists
ul, ol
  padding-left: 1.5em
  &.unstyled
    list-style: none
    padding-left: 0
ul
  list-style: square

// Components

// Dropdown
.dropdown
  display: inline-block
  position: relative
  border: 1px solid #DDD
  @include gradient(#F9F9F9, #EEE)
  .selection
    display: inline-block
    padding: 4px 10px
  .options
    display: none
    list-style: none
    padding: 1px
    margin: 0
    position: absolute
    background: #FFF
    width: 100%
    border: 1px solid #DDD
    margin-left: -1px
    z-index: 2
  li
    display: block
    padding: 4px 8px
    &:hover
      background: rgba(0,0,0,0.2)
      color: #FFF
  &:hover
    cursor: pointer
    @include gradient(#FFF, #EEE)
  &:focus, &:active, &.active
    @include gradient(#EEE, #F9F9F9)
    .options
      display: block

// Misc
.clear
  display: block
  clear: both
  float: none
.nowrap
  white-space: nowrap
.align-right
  text-align: right
.align-left
  text-align: left
.align-center
  text-align: center

.dev
  padding: 20px 40px
  font-size: 12px
