@import global/mixins
@import global

// Base
body
  background-color: #EEE
  color: #333
  font-size: 90%
  font-weight: $regular
  padding: 0
.container
  font-size: 1em
  line-height: $line-height
  margin: 0 auto

// Links
a
  @include transition(all 0.1s linear)
  &:link, &:visited
    color: #611203
    text-decoration: none
  &:hover
    text-decoration: underline
  &:active

// Layout

#content
  background: #FEFEFE
  padding: 20px 40px
.section
  margin: $global-margin * 2 0


// Lists
ul, ol
  padding-left: 1.5em
  &.unstyled
    list-style: none
    padding-left: 0
ul
  list-style: square

// Buttons
input[type="button"], input[type="submit"], button
  height: 28px
.button:link, .button:visited, button, input[type="button"], input[type="submit"]
  display: inline-block
  padding: 7px 20px 6px
  text-align: center
  background: #333
  color: #FFF
  border: none
  opacity: 0.9
  font-weight: $regular
  @include box-shadow((inset 1px 1px 0px rgba(255,255,255,0.5), inset -1px -1px 0px #000))
  @include transition(all 0.1s linear)
  vertical-align: baseline
  margin: 0.2em 0
  line-height: 1.2em
  &:hover
    opacity: 1
button, input[type="button"], input[type="submit"]
  height: 30px
  padding: 0 20px
.clear + input[type="button"], input[type="submit"], button
  margin-top: 14px

// Misc
.clear
  display: block
  clear: both
  float: none
.nowrap
  white-space: nowrap
.align-right
  text-align: right
.align-left
  text-align: left
.align-center
  text-align: center

.dev
  padding: 20px 40px
  font-size: 12px
